# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/

# Databases
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
*.log
